/* General setup */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 13.7px;
    line-height: 1.6;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

/* Layout */
section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* Header and footer */
header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* Fonts and Text Styles */
@font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather-regular.woff2') format('woff2'),
         url('fonts/merriweather-regular.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-regular.woff2') format('woff2'),
         url('fonts/lato-regular.woff') format('woff');
}



h1, h2 {
    font-family: 'American Typewriter', 'Lato', sans-serif; /* Added 'American Typewriter' */
    text-align: center;
    letter-spacing: 1px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
    text-align: left;
}


h1, h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

p {
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

h1 {
    font-size: 2.5em;
    
}

h2 {
    font-size: 1.8em;
    text-align: left;
}

section p:first-of-type {
    text-indent: 20px;
}

/* Link styling */
a {
    color: #a66;
    text-decoration: underline;
}

a:visited {
    color: #733;
}

a:hover, a:focus { 
    color: #a66;
    text-decoration: none;
    outline: none;
}

a:active {
    color: #500;
    font-weight: bold;
}

/* External link styling */


/* List styling */
ul, ol {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    line-height: 1.6;
}

li {
    line-height: 1.6;
    padding-left: 1.2em;
}

ul {
    list-style-image: url('custom-bullet.png');
}

/* Navigation menu */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 0.8em;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    background-color: #f7f7f7;
    border: 2px solid #a66;
    border-radius: 5px;
    text-align: center;
    color: #a66;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #a66;
    color: white;
}

.inline-image {
    width: 10px;  /* Adjust the size of the image to match your design */
    height: 10px;
    vertical-align: middle;  /* Align the icon with the middle of the text */
    margin-left: 5px;  /* Add some space between the text and the image */
    margin-right: 0;  /* Make sure no extra space appears after the image */
}


